		{%extends 'base.html.twig'%}
        {%block body%}

        <div class="contact-form-area">
			<div class="container">
				<div class="about-title">
					Thank you, if you don't recieve your order in time you may contact us 
					<P><span>Would you like to keep shopping </span></P>
					</div></div>

        <!-- About Us Area End -->
        <!-- Our Team Area Start -->
        <div class="our-team-area">
        <br></br><br><br><br>
            <h2 class="section-title">OUR Books</h2>
            <div class="container">
                <div class="row">
                <div class="team-list indicator-style">
                {%for book in books%}
                    <div class="col-md-3">
                        <div class="single-team-member">
                            <a href="#">
                                <img src="{{book.principImg}}" alt="">
                            </a>
                            <div class="product-description">
														<div class="functional-buttons">
															<a href="#" title="Add to Cart">
																<i class="fa fa-shopping-cart"></i>
															</a>
															<a href="#" title="Add to Wishlist">
																<i class="fa fa-heart-o"></i>
															</a>
															<a href="#" title="Quick view" data-toggle="modal" data-target="#productModal">
																<i class="fa fa-compress"></i>
															</a>
														</div>
													</div>
                            <div class="member-info">
                                <a href="#">{{book.title}}</a>
                                <p>By{{book.author}}</p>
                            </div>
                        </div>
                    </div>
                {%endfor%}    
                </div>
            </div>
        </div></div>
		<!-- Contact Form Area End -->		
		<!-- Footer Area Start -->
		{%endblock%}